// Ajax spinner
// ----------------------------------------------------------------------------

.loader {
  display: block;
  margin: 20px auto;
}

.animate-if {

  @include transition(all ease-in 2500ms);

  &.ng-leave {
    top: 400px;
  }

}
