// Color vars
// ----------------------------------------------------------------------------

$clr-olympic-blue:   #00298C;
$clr-olympic-yellow: #FFEF08;
$clr-olympic-black:  #000;
$clr-olympic-green:  #087B39;
$clr-olympic-red:    #DE1818;

$clr-black: #111;
$clr-white: #fefefe;
$clr-light-grey: #cdcdcd;

$clr-link: $clr-olympic-blue;
