// Host list
// ----------------------------------------------------------------------------

.host-list {

  @include transition(all ease-in 200ms);
  top: 0;
  position: relative;
  width: 100%;
  padding: 5px;


  &.ng-hide-add, &.ng-hide-remove {

    display: block!important;

  }

  &.ng-hide-remove {

    top: 100%;

  }

  li {

    @include clearfix;
    padding: 10px;
    list-style: none;

  }

  .btn-badge {

    float: left;

  }

  img {

    float: left;
    margin: 15px 10px;

  }

  h4 {

    float: left;
    padding: 15px 10px;

  }

}

