// Host list
// ----------------------------------------------------------------------------

.host-list {

  width: 100%;
  padding: 5px;

  li {

    @include clearfix;
    padding: 10px;
    list-style: none;
    border-top: 1px solid $clr-light-grey;

    &:first-of-type {

      border: 0;

    }

  }

  a {
    float: left;
    padding: 10px;
  }

  img {
    float: left;
    margin: 10px;
  }

  h4 {
    float: left;
    padding: 10px;
  }

}
